:root {
    --cover-border-radius: 0;
}
:root {
    
    --bg-1: hsl(0 0% 90%);
    --bg-1-overlay: hsl(0 0% 90% / 80%);
    --bg-2: hsl(0 0% 76.83%);
    --bg-2-overlay: hsl(0 0% 76.83% / 80%);
    --bg-3: hsl(0 0% 62.06%);
    --bg-acc: hsl(0 0% 31.69%);
    --bg-mg: hsl(0 0% 52%);
    --fg-1: hsl(0 0% 0%);
    --fg-1-focus: var(--fg-3);
    --fg-1-veil: hsl(0 0% 0% / var(--veil-a));
    --fg-2: hsl(0 0% 8.6%);
    --fg-3: hsl(0 0% 28.06%);
    --fg-3-focus: var(--bg-mg);
    --fg-acc: hsl(0 0% 100%);
    --fg-mg: hsl(0 0% 28%);
    --mg: hsl(0 0% 38.86%);
    --mg-acc: hsl(0 0% 31.69%);
}

@supports (color: oklch(0% 0% 0)) {
    :root {
    
    --bg-1: oklch(13.798399% 7.980762% 344);
    --bg-1-overlay: oklch(13.798399% 7.980762% 344 / 80%);
    --bg-2: oklch(24.4016% 13.180101% 344);
    --bg-2-overlay: oklch(24.4016% 13.180101% 344 / 80%);
    --bg-3: oklch(32% 16.04223% 344);
    --bg-acc: oklch(48% 11% 208);
    --bg-mg: oklch(41% 18.24558% 344);
    --fg-1: oklch(100% 0% 344);
    --fg-1-focus: var(--fg-3);
    --fg-1-veil: oklch(100% 0% 0 / 3.44%);
    --fg-2: oklch(86% 8.089807% 344);
    --fg-3: oklch(72% 14.639751% 344);
    --fg-3-focus: var(--fg-1);
    --fg-acc: oklch(100% 0% 0);
    --fg-mg: oklch(61% 17.876736% 344);
    --mg: oklch(50% 19% 344);
    --mg-acc: oklch(60% 11% 208);
}

}
@font-face {
    font-display: fallback;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local('Barlow'), url('barlow-v5-latin-regular.woff2') format('woff2');
}
body, button, input { font-family: 'Barlow', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }
